
<%- include('header') %>
<style>
    form {
        padding-bottom: 50px;
        margin: auto;
        width: 50%;
    }
    .logo {
        display: flex;
        justify-content: center;
    }
    .container{
        display: flex;
        justify-content: center;
    }

    .categories {
        margin-right: 15px;
        padding: 15px;
        border: 1px solid #1a1a1a;
    }

    .question {
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid #1a1a1a;
    }

</style>
    <h2 class="logo">LOGO</h2>
    <div class="container">
        <div class="categories">
            <% for (var i = 0; i < subj.length; i++) { %>
                <p class="category"><%= subj[i].category_name %></p>
            <% } %>

        </div>
        <div class="questions">
            <% for (var i = 0; i < questions.length; i++) { %>
                <div class="question">
                    <a href="/homework-help/question/<%= questions[i].id %>">  <%= questions[i].title %> </a>
                    <p>  <%= questions[i].description %>...
                        <a href="/homework-help/question/<%= questions[i].id %>">[Read more] </a>
                    </p>
                    <p>  <%= questions[i].category_name %> </p>
                </div>
            <% } %>

        </div>
    </div>

<%- include('footer') %>